
.parallax { 
    background-image: url("../images/hero.jpg");
    height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.codeIcons{
	display: inline;
}

ul {
	padding: 0;
	margin: 5px;
	list-style: none;
	text-align: center;
}

li {
	display: inline-block;
	margin: 0 5px;
}

.heading{
	text-align: center;
}
